version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - '5000:5000'
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./.env
  frontend:
    build: ./frontend
    ports:
      - '3000:80'
    volumes:
      - ./frontend/src:/app/src